{% extends 'mailings/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for article in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ article.preview | media_filter }}">
            <div class="card-body">
              <p class="card-text">{{ object.name }}</p>
              <p class="card-text">email: {{ object.email }}</p>
              <p class="card-text">Комментарии: {{ object.comment }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn">
                  <a class="btn btn-primary" href="{% url 'mailings:client_detail' object.pk %}" role="button">Посмотреть</a>
                  <a class="btn btn-success" href="{% url 'mailings:client_update' object.pk %}" role="button">Редактировать</a>
                  <a class="btn btn-danger" href="{% url 'mailings:client_delete' object.pk %}" role="button">Удалить</a>
                </div>
              </div>
            </div>
          </div>
        </div>
         {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}