{% extends 'mailings/base.html' %}
{% block content %}
<div class="container col-10">
    <div class="card">
        <div class="card-header text-center">
            <h1>Попытки рассылок</h1>
        </div>
        <div class="card-body">
            <div class="col-12 text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Рассылка</th>
                        <th scope="col">Время</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Ответ сервера</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in object_list %}
                    <tr>
                        <td>{{ log.mailing_list.title }}</td>
                        <td>{{ log.time }}</td>
                        <td>{{ log.status }}</td>
                        <td>{{ log.server_response }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}