{% extends 'mailings/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <form method='post'>
                            {% csrf_token %}
                            <p>Хотите удалить рассылку "{{object.title|title}}"?</p>
                            <button type="submit" class="btn btn-danger">Подтвердить</button>
                            <a class="btn btn-primary" href="{% url 'mailings:mailingsettings_list' %}" role="button">Отменить</a>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}