{% extends 'mailings/base.html' %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h4 class="jumbotron-heading">Список пользователей</h4>
    </div>
</section>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Телефон</th>
        <th scope="col">Статус активности</th>
        <th scope="col">Статус персонала</th>
        <th scope="col">Изменение статуса</th>
    </tr>
    </thead>
    <tbody>
    {% for user in object_list %}
    <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.is_active }}</td>
        <td>{{ user.is_staff }}</td>
        <td>{% if perms.users.deactivate_user %}
            {% if user.is_active %}
            <a href="{% url 'users:toggle_activity' user.pk %}"
               class="btn btn-sm btn-outline-danger">Деактивировать</a>
            {% else %}
            <a href="{% url 'users:toggle_activity' user.pk %}"
               class="btn btn-sm btn-outline-success">Активировать</a>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
